.calculator{
    display: inline-block;
    border: 1px solid black;
    width: 300px;
    margin-top: 10%;
    padding: 10px;
}
.calc-inp{
    background: white;
    margin-top: 10px;
    padding: 10px;
    width: 72%;
    font-size: 33px;
}
.success{
    background: yellowgreen;
}

.danger{
    background: crimson;
}